<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus Flower</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <nav>
        <div class="text-right">
            <a href="">Back</a> | <a href="">Attitude of Gratitude</a>  |  <a href="">Set Your Intention</a>|<a href="/logout">Log Out</a>
        </div>
    </nav>
    <div id="affirm_container">
        <div id="affirmation_form" class="text-left">
            <h1 class="text-center">Daily Affirmations</h1>
            {% if user_in_db %}
                <h2 class="text-center">Welcome {{user_in_db.first_name}}!!!</h2>
                <!-- Other dashboard content -->
            {% else %}
                <p>You are not logged in. Please log in to access the dashboard.</p>
            {% endif %}
            
            <form action="/user/create_affirmations" method="POST" class="text-center col-5 text-dark">
                <div class="form-group">
                    <h6>Enter 3 Positive Affirmations for today!!!</h6>
                    <label for="share_affirmation_1"></label>
                    <textarea class="form-control" id="share_affirmation_1" rows="7">Example textarea</textarea>
                    <br>
                    <input class="btn btn-warning" type="submit" value="Share">
                </div>
                <br>
                <div class="form-group">
                    <h6>Here you can journal about the choices you made.</h6>
                    <label for="share_affirmation_2"> </label>
                    <textarea class="form-control" id="share_affirmation_2" rows="7">Example textarea</textarea>
                </div>
            </form>
        </div>
    </div>
</body>
</html>