*{
    margin: 0px auto;
    
}

nav{
    background-color: #e3f2fd;
    padding: 20px; 20px;
}

    
#links_bar{
margin-right: 20px;
}

#login_form{
    margin-top: 20px;
    width: 100%;
}
.btn{
    margin-top: 20px;
}

#affirmation_form, #gratitude_form, #intentions_form{
    padding-top: 20px;
    
} 

#affirmation_form{
    background-color: blueviolet;
    
}
#gratitude_form{
    background-color: rgb(43, 165, 226);
    
}
#intentions_container{
    background-color: rgb(43, 226, 183);
}

h1{
color: rgb(247, 0, 255);
}

h2{
    color: darkturquoise;
}
h6{
    padding-top: 20px;
    padding-bottom: 20px;
    color: gold;
}